
.card {
  position: relative;
  height: 450px;
  width: 300px;
  margin: 25px 50px;
  float: left;
  border-radius: 20px;
  border: 2px solid #ffdd56;
  margin-bottom: 2.5rem;
  background-color: rgba(255, 255, 255, 0.2);

}






.card img {
  height: auto;
  width:  inherit;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 5;
  filter: drop-shadow(1px 2px 1px 3px #aaa);
}

.card .caption {
  text-align: center;
  position: absolute;
  top: 80%;
  left: 50%;
  transform:translate(-50%,-50%);
  z-index: 10;
}

.card .caption .text {
  font-size: 3rem;
  color: white;
  color: linear-gradient(to right, #A2DB95, #24CCAA);
  font-family: "Helvetica", sans-serif;
  letter-spacing: 2px;
  margin-bottom: 1.5rem;
  text-shadow: 3px 3px #000000;
  font-smoothing: antialiased;
}

.card .caption .action {
  padding-left: 2rem;
  padding-right: 2rem;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}



