
.card {
  position: relative;
  height: auto;
  width: 500px;
  margin: 25px 0px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  border: 2px solid #ffdd56;
  margin-bottom: 2.5rem;
  background-color: rgba(255, 255, 255, 0.2);


}

.card img {
  height: auto;
  width:  inherit;
  position: relative;
  top: 0%;
  left: 0%;
  z-index: 5;
  filter: drop-shadow(1px 2px 1px 3px #aaa);
}

.card .caption {
  text-align: center;
  position: relative;
  padding-left:10;
  padding-right:10;
  z-index: 10;

}

.evolucion {
  text-align: center;
  padding-left:10;
  padding-right:10;
  z-index: 10;
  position: relative;
  font-size: 3rem;
  color: white;
  color: linear-gradient(to right, #A2DB95, #24CCAA);
  font-family: "Helvetica", sans-serif;
  letter-spacing: 2px;
  font-smoothing: antialiased;
}


.card .text {
  position: relative;
  font-size: 3rem;
  color: white;
  color: linear-gradient(to right, #A2DB95, #24CCAA);
  font-family: "Helvetica", sans-serif;
  letter-spacing: 2px;
  margin-bottom: 1rem;
  text-shadow: 3px 3px #000000;
  font-smoothing: antialiased;
}

.card .caption .action {
  position: relative;
  padding-left: 2rem;
  padding-right: 2rem;
  top: 800px;
}

.label{
  position: relative;
    color: white;
    padding: 8px;
    background-color: #f44336;
    border-radius: 20px;
    margin-bottom: 1rem;

}
